name: Deploy APISIX Declarative Config

on:
  push:
    branches: [ main ]
    paths:
      - "apisix.yaml"

jobs:
  deploy:
    runs-on: self-hosted   # or ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validate file exists
        run: |
          ls -lah
          ls -lah apisix.yaml

      - name: Apply APISIX Declarative Config
        env:
          APISIX_ADMIN_URL: http://localhost:9180
          APISIX_ADMIN_KEY: ${{ secrets.APISIX_ADMIN_KEY }}
        run: |
          echo "Applying APISIX declarative config"
          curl -X PUT "http://localhost:9180/apisix/admin/configs" \
            -H "X-API-KEY: edd1c9f034335f136f87ad84b625c8f1" \
            -H "Content-Type: application/yaml" \
            --data-binary "@apisix.yaml"
